<div class="top-admin-content">
	<span class="title mt0">Admins (1-4 of 4)</span>
	<div class="search">
		<a href="#" class="btn btn-active">Invite</a>
	</div>
</div>

<div class="activity users-page">
	<div class="list">
		<div class="list-thumb">
			<div>
				<div class="thumb-image">
					<%= image_tag "icn/jhon_doe_pic.png", alt: "" %>
				</div>
				<span>John Doe</span>
			</div>
			<span>Active since June 5</span>
			<div class="actions-users">
				<span class="edit">Edit</span>
				<span class="delete">Delete</span>
			</div>
		</div>
		<div class="list-thumb">
			<div>
				<div class="thumb-image">
					<%= image_tag "icn/jhon_doe_pic.png", alt: "" %>
				</div>
				<span>John Doe</span>
			</div>
			<span>Active since June 5</span>
			<div class="actions-users">
				<span class="edit">Edit</span>
				<span class="delete">Delete</span>
			</div>
		</div>
		<div class="list-thumb">
			<div>
				<div class="thumb-image">
					<%= image_tag "icn/jhon_doe_pic.png", alt: "" %>
				</div>
				<span>John Doe</span>
			</div>
			<span>Active since June 5</span>
			<div class="actions-users">
				<span class="edit">Edit</span>
				<span class="delete">Delete</span>
			</div>
		</div>
		<div class="list-thumb">
			<div>
				<div class="thumb-image">
					<%= image_tag "icn/jhon_doe_pic.png", alt: "" %>
				</div>
				<span>John Doe</span>
			</div>
			<span>Active since June 5</span>
			<div class="actions-users">
				<span class="edit">Edit</span>
				<span class="delete">Delete</span>
			</div>
		</div>
		<div class="list-thumb">
			<div>
				<div class="thumb-image">
					<%= image_tag "icn/jhon_doe_pic.png", alt: "" %>
				</div>
				<span>John Doe</span>
			</div>
			<span>Active since June 5</span>
			<div class="actions-users">
				<span class="edit">Edit</span>
				<span class="delete">Delete</span>
			</div>
		</div>
		<div class="list-thumb">
			<div>
				<div class="thumb-image">
					<%= image_tag "icn/jhon_doe_pic.png", alt: "" %>
				</div>
				<span>John Doe</span>
			</div>
			<span>Active since June 5</span>
			<div class="actions-users">
				<span class="edit">Edit</span>
				<span class="delete">Delete</span>
			</div>
		</div>
	</div>
</div>