<span class="title mt0">Dashboard</span>

<div class="stats-admin">
	<div class="stats-div">
		<div>
			<span>86,31</span>
			<span>Visitors</span>
		</div>
		<div>
			<span>134,12</span>
			<span>Submissions</span>
		</div>
		<div>
			<span>$45,01</span>
			<span>Donations</span>
		</div>
		<div>
			<span>12</span>
			<span>Contests</span>
		</div>
	</div>
</div>

<div class="user-activity">
	<div class="recent">
		<span class="title">Recent Users</span>
		<div class="activity">
			<div class="list">
				<div class="list-thumb">
					<div>
						<div class="thumb-image">
							<%= image_tag "icn/jhon_doe_pic.png", alt: "" %>
						</div>
						<span>John Doe</span>
					</div>
					<span>2 minutes ago</span>
				</div>
				<div class="list-thumb">
					<div>
						<div class="thumb-image">
							<%= image_tag "icn/jhon_doe_pic.png", alt: "" %>
						</div>
						<span>John Doe</span>
					</div>
					<span>2 minutes ago</span>
				</div>
				<div class="list-thumb">
					<div>
						<div class="thumb-image">
							<%= image_tag "icn/jhon_doe_pic.png", alt: "" %>
						</div>
						<span>John Doe</span>
					</div>
					<span>2 minutes ago</span>
				</div>
			</div>
		</div>
	</div>

	<div class="users">
		<span class="title">User Activity</span>
		<div class="activity">
			<div class="list">
				<div class="list-thumb">
					<div>
						<div class="thumb-image">
							<%= image_tag "icn/jhon_doe_pic.png", alt: "" %>
						</div>
						<span>John Doe posted to contest name</span>
					</div>
					<span>2 minutes ago</span>
				</div>
				<div class="list-thumb">
					<div>
						<div class="thumb-image">
							<%= image_tag "icn/jhon_doe_pic.png", alt: "" %>
						</div>
						<span>John Doe posted to contest name</span>
					</div>
					<span>2 minutes ago</span>
				</div>
				<div class="list-thumb">
					<div>
						<div class="thumb-image">
							<%= image_tag "icn/jhon_doe_pic.png", alt: "" %>
						</div>
						<span>John Doe posted to contest name</span>
					</div>
					<span>2 minutes ago</span>
				</div>
			</div>
		</div>
	</div>
	<a href="#" class="btn btn-active">See All</a>
</div>

<div class="active-contest">
	<span class="title">Active Contest (12)</span>
	<div class="list">
		<div class="list-thumb">
			<div class="thumb-image">
				<img src="" alt="">
			</div>
			<div class="text">
				<a href="#">Lorem Ipsum Dolor Sit Amet</a>
				<span>$5,000 - 22 days left - 12 entries</span>
			</div>
		</div>
		<div class="list-thumb">
			<div class="thumb-image">
				<img src="" alt="">
			</div>
			<div class="text">
				<a href="#">Lorem Ipsum Dolor Sit Amet</a>
				<span>$5,000 - 22 days left - 12 entries</span>
			</div>
		</div>
		<div class="list-thumb">
			<div class="thumb-image">
				<img src="" alt="">
			</div>
			<div class="text">
				<a href="#">Lorem Ipsum Dolor Sit Amet</a>
				<span>$5,000 - 22 days left - 12 entries</span>
			</div>
		</div>
	</div>
	<a href="#" class="btn btn-active">See All</a>
</div>

<div class="activity mb40">
	<span class="title">Donation Activity</span>
	<div class="list">
		<div class="list-thumb">
			<div>
				<div class="thumb-image">
					<%= image_tag "icn/jhon_doe_pic.png", alt: "" %>
				</div>
				<span>John Doe donated $5,000</span>
			</div>
			<span>2 minutes ago</span>
		</div>
		<div class="list-thumb">
			<div>
				<div class="thumb-image">
					<%= image_tag "icn/jhon_doe_pic.png", alt: "" %>
				</div>
				<span>John Doe donated $5,000</span>
			</div>
			<span>2 minutes ago</span>
		</div>
		<div class="list-thumb">
			<div>
				<div class="thumb-image">
					<%= image_tag "icn/jhon_doe_pic.png", alt: "" %>
				</div>
				<span>John Doe donated $5,000</span>
			</div>
			<span>2 minutes ago</span>
		</div>
	</div>
	<a href="#" class="btn btn-active">See All</a>
</div>
