<div class="container profile-user">

<div class="col-lg-12">

<div class="profile-info">
  <div class="photo">
    <%= image_tag "misc/taylor.png", alt: "" %>
  </div>
  <div class="info">
    <span class="title">Taylor S.</span>
    <ul class="profile-social">
      <li><a href="#" class="tw" target="_blank"><span class="icn twprofile"></span></a></li>
      <li><a href="#" class="fb" target="_blank"><span class="icn fbprofile"></span></a></li>
      <li><a href="#" class="gp" target="_blank"><span class="icn gpprofile"></span></a></li>
      <li><a href="#" class="lkdn" target="_blank"><span class="icn lkdnprofile"></span></a></li>
    </ul>
    <span class="sub">Graduate from FIU with $215,000 debt</span>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus malesuada eros sit amet nulla pellentesque rutrum. Maecenas et luctus nulla. Suspendisse semper dui et volutpat porta. Sed condimentum a magna ac pulvinar.</p>
  </div>
</div>

<div class="entries-user">

  <div class="contest-thumb">
    <div class="head-thumb">
      <a href="#detailcontest" class="img detailentry" role="button" data-toggle="modal">
        <%= image_tag "misc/2.png", alt: "" %>
      </a>
      <div class="foot-ovrly">
        <a href="#detailcontest" role="button" data-toggle="modal">Lorem Ipsum</a>
        <span>by Ricky</span>
      </div>
    </div>
    <div class="foot-thumb">
      <div>
        <a href="#" class="btn-upvote ">
          <span class="icn upvt"></span>
          <span class="upvote-count">1</span>
        </a>
        <div class="share-cloud">
          <div class="btn-share">
            <span class="icn share"></span>
          </div>
        </div>
      </div>
      <span><time class="timeago">18 days ago</time></span>
    </div>
  </div>

  <div class="contest-thumb">
    <div class="head-thumb">
      <a href="#detailcontest" class="img detailentry" role="button" data-toggle="modal">
        <%= image_tag "misc/2.png", alt: "" %>
      </a>
      <div class="foot-ovrly">
        <a href="#detailcontest" role="button" data-toggle="modal">Lorem Ipsum</a>
        <span>by Ricky</span>
      </div>
    </div>
    <div class="foot-thumb">
      <div>
        <a href="#" class="btn-upvote ">
          <span class="icn upvt"></span>
          <span class="upvote-count">1</span>
        </a>
        <div class="share-cloud">
          <div class="btn-share">
            <span class="icn share"></span>
          </div>
        </div>
      </div>
      <span><time class="timeago">18 days ago</time></span>
    </div>
  </div>

  <div class="contest-thumb">
    <div class="head-thumb">
      <a href="#detailcontest" class="img detailentry" role="button" data-toggle="modal">
        <%= image_tag "misc/2.png", alt: "" %>
      </a>
      <div class="foot-ovrly">
        <a href="#detailcontest" role="button" data-toggle="modal">Lorem Ipsum</a>
        <span>by Ricky</span>
      </div>
    </div>
    <div class="foot-thumb">
      <div>
        <a href="#" class="btn-upvote ">
          <span class="icn upvt"></span>
          <span class="upvote-count">1</span>
        </a>
        <div class="share-cloud">
          <div class="btn-share">
            <span class="icn share"></span>
          </div>
        </div>
      </div>
      <span><time class="timeago">18 days ago</time></span>
    </div>
  </div>

  <div class="contest-thumb">
    <div class="head-thumb">
      <a href="#detailcontest" class="img detailentry" role="button" data-toggle="modal">
        <%= image_tag "misc/2.png", alt: "" %>
      </a>
      <div class="foot-ovrly">
        <a href="#detailcontest" role="button" data-toggle="modal">Lorem Ipsum</a>
        <span>by Ricky</span>
      </div>
    </div>
    <div class="foot-thumb">
      <div>
        <a href="#" class="btn-upvote ">
          <span class="icn upvt"></span>
          <span class="upvote-count">1</span>
        </a>
        <div class="share-cloud">
          <div class="btn-share">
            <span class="icn share"></span>
          </div>
        </div>
      </div>
      <span><time class="timeago">18 days ago</time></span>
    </div>
  </div>


  <div class="contest-thumb">
    <div class="head-thumb">
      <a href="#detailcontest" class="img detailentry" role="button" data-toggle="modal">
        <%= image_tag "misc/2.png", alt: "" %>
      </a>
      <div class="foot-ovrly">
        <a href="#detailcontest" role="button" data-toggle="modal">Lorem Ipsum</a>
        <span>by Ricky</span>
      </div>
    </div>
    <div class="foot-thumb">
      <div>
        <a href="#" class="btn-upvote ">
          <span class="icn upvt"></span>
          <span class="upvote-count">1</span>
        </a>
        <div class="share-cloud">
          <div class="btn-share">
            <span class="icn share"></span>
          </div>
        </div>
      </div>
      <span><time class="timeago">18 days ago</time></span>
    </div>
  </div>

  <div class="contest-thumb">
    <div class="head-thumb">
      <a href="#detailcontest" class="img detailentry" role="button" data-toggle="modal">
        <%= image_tag "misc/2.png", alt: "" %>
      </a>
      <div class="foot-ovrly">
        <a href="#detailcontest" role="button" data-toggle="modal">Lorem Ipsum</a>
        <span>by Ricky</span>
      </div>
    </div>
    <div class="foot-thumb">
      <div>
        <a href="#" class="btn-upvote ">
          <span class="icn upvt"></span>
          <span class="upvote-count">1</span>
        </a>
        <div class="share-cloud">
          <div class="btn-share">
            <span class="icn share"></span>
          </div>
        </div>
      </div>
      <span><time class="timeago">18 days ago</time></span>
    </div>
  </div>

  <div class="contest-thumb">
    <div class="head-thumb">
      <a href="#detailcontest" class="img detailentry" role="button" data-toggle="modal">
        <%= image_tag "misc/2.png", alt: "" %>
      </a>
      <div class="foot-ovrly">
        <a href="#detailcontest" role="button" data-toggle="modal">Lorem Ipsum</a>
        <span>by Ricky</span>
      </div>
    </div>
    <div class="foot-thumb">
      <div>
        <a href="#" class="btn-upvote ">
          <span class="icn upvt"></span>
          <span class="upvote-count">1</span>
        </a>
        <div class="share-cloud">
          <div class="btn-share">
            <span class="icn share"></span>
          </div>
        </div>
      </div>
      <span><time class="timeago">18 days ago</time></span>
    </div>
  </div>

  <div class="contest-thumb">
    <div class="head-thumb">
      <a href="#detailcontest" class="img detailentry" role="button" data-toggle="modal">
        <%= image_tag "misc/2.png", alt: "" %>
      </a>
      <div class="foot-ovrly">
        <a href="#detailcontest" role="button" data-toggle="modal">Lorem Ipsum</a>
        <span>by Ricky</span>
      </div>
    </div>
    <div class="foot-thumb">
      <div>
        <a href="#" class="btn-upvote ">
          <span class="icn upvt"></span>
          <span class="upvote-count">1</span>
        </a>
        <div class="share-cloud">
          <div class="btn-share">
            <span class="icn share"></span>
          </div>
        </div>
      </div>
      <span><time class="timeago">18 days ago</time></span>
    </div>
  </div>

  <div class="contest-thumb">
    <div class="head-thumb">
      <a href="#detailcontest" class="img detailentry" role="button" data-toggle="modal">
        <%= image_tag "misc/2.png", alt: "" %>
      </a>
      <div class="foot-ovrly">
        <a href="#detailcontest" role="button" data-toggle="modal">Lorem Ipsum</a>
        <span>by Ricky</span>
      </div>
    </div>
    <div class="foot-thumb">
      <div>
        <a href="#" class="btn-upvote ">
          <span class="icn upvt"></span>
          <span class="upvote-count">1</span>
        </a>
        <div class="share-cloud">
          <div class="btn-share">
            <span class="icn share"></span>
          </div>
        </div>
      </div>
      <span><time class="timeago">18 days ago</time></span>
    </div>
  </div>

  <div class="contest-thumb">
    <div class="head-thumb">
      <a href="#detailcontest" class="img detailentry" role="button" data-toggle="modal">
        <%= image_tag "misc/2.png", alt: "" %>
      </a>
      <div class="foot-ovrly">
        <a href="#detailcontest" role="button" data-toggle="modal">Lorem Ipsum</a>
        <span>by Ricky</span>
      </div>
    </div>
    <div class="foot-thumb">
      <div>
        <a href="#" class="btn-upvote ">
          <span class="icn upvt"></span>
          <span class="upvote-count">1</span>
        </a>
        <div class="share-cloud">
          <div class="btn-share">
            <span class="icn share"></span>
          </div>
        </div>
      </div>
      <span><time class="timeago">18 days ago</time></span>
    </div>
  </div>

  <div class="contest-thumb">
    <div class="head-thumb">
      <a href="#detailcontest" class="img detailentry" role="button" data-toggle="modal">
        <%= image_tag "misc/2.png", alt: "" %>
      </a>
      <div class="foot-ovrly">
        <a href="#detailcontest" role="button" data-toggle="modal">Lorem Ipsum</a>
        <span>by Ricky</span>
      </div>
    </div>
    <div class="foot-thumb">
      <div>
        <a href="#" class="btn-upvote ">
          <span class="icn upvt"></span>
          <span class="upvote-count">1</span>
        </a>
        <div class="share-cloud">
          <div class="btn-share">
            <span class="icn share"></span>
          </div>
        </div>
      </div>
      <span><time class="timeago">18 days ago</time></span>
    </div>
  </div>

  <div class="contest-thumb">
    <div class="head-thumb">
      <a href="#detailcontest" class="img detailentry" role="button" data-toggle="modal">
        <%= image_tag "misc/2.png", alt: "" %>
      </a>
      <div class="foot-ovrly">
        <a href="#detailcontest" role="button" data-toggle="modal">Lorem Ipsum</a>
        <span>by Ricky</span>
      </div>
    </div>
    <div class="foot-thumb">
      <div>
        <a href="#" class="btn-upvote ">
          <span class="icn upvt"></span>
          <span class="upvote-count">1</span>
        </a>
        <div class="share-cloud">
          <div class="btn-share">
            <span class="icn share"></span>
          </div>
        </div>
      </div>
      <span><time class="timeago">18 days ago</time></span>
    </div>
  </div>

</div>


</div>

</div>

