<div class="top-admin-content">
	<span class="title mt0">Users (1 to 20 of 200)</span>
	<div class="search">
		<fieldset>
			<span class="icn search"></span>
			<input type="search" placeholder="Type and press enter">
		</fieldset>
	</div>
</div>

<div class="activity users-page">
	<div class="list">
		<div class="list-thumb">
			<div>
				<div class="thumb-image">
					<%= image_tag "icn/jhon_doe_pic.png", alt: "" %>
				</div>
				<span>John Doe</span>
			</div>
			<span>Joined 1 hour ago</span>
			<div class="right">
				<span class="icn cloud"></span>
				<span>12</span>
			</div>
			<div class="right">
				<span class="icn card"></span>
				<span>$1,000</span>
			</div>
			<div class="actions-users">
				<span class="edit">Edit</span>
				<span class="delete">Delete</span>
			</div>
		</div>
		<div class="list-thumb">
			<div>
				<div class="thumb-image">
					<%= image_tag "icn/jhon_doe_pic.png", alt: "" %>
				</div>
				<span>John Doe</span>
			</div>
			<span>Joined 1 hour ago</span>
			<div class="right">
				<span class="icn cloud"></span>
				<span>12</span>
			</div>
			<div class="right">
				<span class="icn card"></span>
				<span>$1,000</span>
			</div>
			<div class="actions-users">
				<span class="edit">Edit</span>
				<span class="delete">Delete</span>
			</div>
		</div>
		<div class="list-thumb">
			<div>
				<div class="thumb-image">
					<%= image_tag "icn/jhon_doe_pic.png", alt: "" %>
				</div>
				<span>John Doe</span>
			</div>
			<span>Joined 1 hour ago</span>
			<div class="right">
				<span class="icn cloud"></span>
				<span>12</span>
			</div>
			<div class="right">
				<span class="icn card"></span>
				<span>$1,000</span>
			</div>
			<div class="actions-users">
				<span class="edit">Edit</span>
				<span class="delete">Delete</span>
			</div>
		</div>
		<div class="list-thumb">
			<div>
				<div class="thumb-image">
					<%= image_tag "icn/jhon_doe_pic.png", alt: "" %>
				</div>
				<span>John Doe</span>
			</div>
			<span>Joined 1 hour ago</span>
			<div class="right">
				<span class="icn cloud"></span>
				<span>12</span>
			</div>
			<div class="right">
				<span class="icn card"></span>
				<span>$1,000</span>
			</div>
			<div class="actions-users">
				<span class="edit">Edit</span>
				<span class="delete">Delete</span>
			</div>
		</div>
		<div class="list-thumb">
			<div>
				<div class="thumb-image">
					<%= image_tag "icn/jhon_doe_pic.png", alt: "" %>
				</div>
				<span>John Doe</span>
			</div>
			<span>Joined 1 hour ago</span>
			<div class="right">
				<span class="icn cloud"></span>
				<span>12</span>
			</div>
			<div class="right">
				<span class="icn card"></span>
				<span>$1,000</span>
			</div>
			<div class="actions-users">
				<span class="edit">Edit</span>
				<span class="delete">Delete</span>
			</div>
		</div>
		<div class="list-thumb">
			<div>
				<div class="thumb-image">
					<%= image_tag "icn/jhon_doe_pic.png", alt: "" %>
				</div>
				<span>John Doe</span>
			</div>
			<span>Joined 1 hour ago</span>
			<div class="right">
				<span class="icn cloud"></span>
				<span>12</span>
			</div>
			<div class="right">
				<span class="icn card"></span>
				<span>$1,000</span>
			</div>
			<div class="actions-users">
				<span class="edit">Edit</span>
				<span class="delete">Delete</span>
			</div>
		</div>
		<div class="list-thumb">
			<div>
				<div class="thumb-image">
					<%= image_tag "icn/jhon_doe_pic.png", alt: "" %>
				</div>
				<span>John Doe</span>
			</div>
			<span>Joined 1 hour ago</span>
			<div class="right">
				<span class="icn cloud"></span>
				<span>12</span>
			</div>
			<div class="right">
				<span class="icn card"></span>
				<span>$1,000</span>
			</div>
			<div class="actions-users">
				<span class="edit">Edit</span>
				<span class="delete">Delete</span>
			</div>
		</div>
		<div class="list-thumb">
			<div>
				<div class="thumb-image">
					<%= image_tag "icn/jhon_doe_pic.png", alt: "" %>
				</div>
				<span>John Doe</span>
			</div>
			<span>Joined 1 hour ago</span>
			<div class="right">
				<span class="icn cloud"></span>
				<span>12</span>
			</div>
			<div class="right">
				<span class="icn card"></span>
				<span>$1,000</span>
			</div>
			<div class="actions-users">
				<span class="edit">Edit</span>
				<span class="delete">Delete</span>
			</div>
		</div>
		<div class="list-thumb">
			<div>
				<div class="thumb-image">
					<%= image_tag "icn/jhon_doe_pic.png", alt: "" %>
				</div>
				<span>John Doe</span>
			</div>
			<span>Joined 1 hour ago</span>
			<div class="right">
				<span class="icn cloud"></span>
				<span>12</span>
			</div>
			<div class="right">
				<span class="icn card"></span>
				<span>$1,000</span>
			</div>
			<div class="actions-users">
				<span class="edit">Edit</span>
				<span class="delete">Delete</span>
			</div>
		</div>
		<div class="list-thumb">
			<div>
				<div class="thumb-image">
					<%= image_tag "icn/jhon_doe_pic.png", alt: "" %>
				</div>
				<span>John Doe</span>
			</div>
			<span>Joined 1 hour ago</span>
			<div class="right">
				<span class="icn cloud"></span>
				<span>12</span>
			</div>
			<div class="right">
				<span class="icn card"></span>
				<span>$1,000</span>
			</div>
			<div class="actions-users">
				<span class="edit">Edit</span>
				<span class="delete">Delete</span>
			</div>
		</div>
		<div class="list-thumb">
			<div>
				<div class="thumb-image">
					<%= image_tag "icn/jhon_doe_pic.png", alt: "" %>
				</div>
				<span>John Doe</span>
			</div>
			<span>Joined 1 hour ago</span>
			<div class="right">
				<span class="icn cloud"></span>
				<span>12</span>
			</div>
			<div class="right">
				<span class="icn card"></span>
				<span>$1,000</span>
			</div>
			<div class="actions-users">
				<span class="edit">Edit</span>
				<span class="delete">Delete</span>
			</div>
		</div>
		<div class="list-thumb">
			<div>
				<div class="thumb-image">
					<%= image_tag "icn/jhon_doe_pic.png", alt: "" %>
				</div>
				<span>John Doe</span>
			</div>
			<span>Joined 1 hour ago</span>
			<div class="right">
				<span class="icn cloud"></span>
				<span>12</span>
			</div>
			<div class="right">
				<span class="icn card"></span>
				<span>$1,000</span>
			</div>
			<div class="actions-users">
				<span class="edit">Edit</span>
				<span class="delete">Delete</span>
			</div>
		</div>
	</div>
	<ul class="pagination pagination-sm">
	  <li><a href="#">&laquo;</a></li>
	  <li><a href="#">1</a></li>
	  <li><a href="#">2</a></li>
	  <li><a href="#">3</a></li>
	  <li><a href="#">4</a></li>
	  <li><a href="#">5</a></li>
	  <li><a href="#">&raquo;</a></li>
	</ul>
</div>