<div class="list-thumb" id="admin-<%= admin.id %>">
	<div>
		<div class="thumb-image">
      <% if admin.profile_image.blank? %>
        <%= image_tag "icn/icon_uploadimg.png", alt: "", class: "icnuploadimg" %>
      <% else %>
        <%= image_tag(admin.profile_image_url) %>
      <% end %>
		</div>
		<span><%= admin.name %></span>
	</div>
	<span>
    <% if admin.invitation_accepted? %>
      Active since <%= admin.created_at.strftime("%B %-d") %>
    <% else %>
      Not active yet
    <% end %>
  </span>
	<div class="actions-users">
    <%= link_to "Edit", edit_admin_admin_path(admin) %>
    <%= link_to "Delete", admin_admin_path(admin), :method => :delete, remote: true, data: { confirm: "Are you sure you want to delete this admin?" } %>
	</div>
</div>